<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a purchase"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !purchase" message="Purchase Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="purchase && privilege.showOne">
  <app-page-header
    title="Purchase Detail Page of {{ this.purchase.code }}"
    [breadcrumbSegments]="['Purchases', 'Show All Purchases', 'Details of ' + this.purchase.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
            <tr>
              <th>ID</th>
              <td>{{purchase.code}}</td>
            </tr>
            <tr>
              <th>Created Date</th>
              <td>{{purchase.tocreation | date}}</td>
            </tr>
            <tr>
              <th>Created Time</th>
              <td>{{purchase.tocreation | date: 'shortTime': '+0530'}}</td>
            </tr>
            <tr>
              <th>Creator</th>
              <td>{{purchase.creator.id}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card >
        <mat-card-content style="min-height: 400px">

          <mat-tab-group>
            <mat-tab label="Purchase">

              <mat-card class="example-card">
                <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>

            <tr>
              <th>Branch</th>
              <td>{{purchase.branch.name}}</td>
            </tr>

            <tr>
              <th>Amount</th>
              <td>{{purchase.amount}}</td>
            </tr>

            <tr>
              <th> Tax Amount</th>
              <td>{{purchase.taxamount}}</td>
            </tr>

            <tr>
              <th>Total Amount</th>
              <td>{{purchase.totalamount}}</td>
            </tr>

            <tr *ngIf="purchase.description">
              <th>Description</th>
              <td [innerHTML]="purchase.description | nl2br"></td>
            </tr>

            </tbody>
          </table>
                </mat-card-content>
              </mat-card>
            </mat-tab>

            <mat-tab label="Item List">

              <mat-card class="example-card">
                <mat-card-content>

                  <table class="w-100 table-striped custom-data-table">
                    <tr>
                      <th>Item Name</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Batch No</th>
                      <th>Manufacture Date</th>
                      <th>Expire Date</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let purchaseitem of purchase.purchaseitemList">
                      <td>{{purchaseitem.item.name}}</td>
                      <td>{{purchaseitem.qty}}</td>
                      <td>{{purchaseitem.unitprice}}</td>
                      <td>{{purchaseitem.batchno}}</td>
                      <td>{{purchaseitem.domanufactured}}</td>
                      <td>{{purchaseitem.doexpired}}</td>

                    </tr>
                    </tbody>
                  </table>

                </mat-card-content>
              </mat-card>
            </mat-tab>

          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <span class="spacer"></span>
    <button *ngIf="privilege.showAll" routerLink="/purchases" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Purchases</button>
    <button *ngIf="privilege.update" routerLink="/purchases/edit/{{purchase.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Update</button>
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
  </div>
</div>
